
<div class="container w-75 mt-4 p-5  border border-white" style="background-color:lightsteelblue;border-radius: 30px;">
    <h1 class="text-center">Transaction History</h1>
<table style=" background-color: darkturquoise;" class=" border border-dark w-75 container">
    <thead class="border border-dark">
        <tr>
        <th class="border border-dark">Type</th>
        <th class="border border-dark">Amount</th>
    </tr>

    </thead>
    <tbody>

  <tr *ngFor="let i of transaction" >
    <td  class="border border-dark">{{i.type}}</td>
    <td class="border border-dark">{{i.amount}}</td>  
</tr>    

    </tbody>
</table>
</div>
